* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-image: linear-gradient(to bottom, white, aqua, white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-box {
  max-width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  padding: 20px;
  width: 100%;
}

.left {
  text-align: left;
  width: 100%;
}

.left img {
  max-width: 100%;
  height: auto;
}

.right {
  text-align: center;
  font-weight: bold;
  padding: 25px 40px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}


.field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
}


.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #e50df0;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0400ff;
}

@media screen and (min-width: 950px) {
  .container {
    max-width: 850px;
  }

  .contact-box {
    max-width: 880px;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 30px;
  }
}
